<div class="background-container">
    <img src="assets/images/hero.svg" alt="" class="background-image w-75">
    <div class="container">
        <div class="row text-center py-5">
            <div class="col-sm-12">
                <span class="pills">Education</span>
                <div class="line"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="experince-img"><iframe src="https://lottie.host/embed/8af45c45-0798-4057-8f17-4675c7b23dd8/ebfPn0ioGk.json"></iframe></div>
            </div>
            <div class="col-sm-12 col-md-6 fs-5">
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(Jan 2019 - Feb 2023)</h5>
                    </div>
                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Bachelor Of Science In CSE</p>
                            <p>Dhaka International University. (CGPA: 3.69)</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(June 2015 - June 2017)</h5>
                    </div>
                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Higher Secondary Certificate</p>
                            <p>Sundarganj D.W. Govt College.</p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card_heading">
                        <h5 class="m-0">(Jan 2013 - Apr 2015)</h5>
                    </div>
                    <div class="card_content">
                        <img src="assets/images/exp-user.svg" alt="" class="img-fluid">
                        <div class="content">
                            <p class="text-uppercase p-0">Secondary School Certificate</p>
                            <p>Sundarganj Abdul Majid Govt. Boys High School.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
